body {
    --mobileSidePadding: 12px;
    --tabletSidePadding: 20px;
    --desktopSidePadding: 40px;


    --mobileContentWidth: 360px;
    --tabletContentWidth: 800px;
    --desktopContentWidth: 1440px;


    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #333333;
    line-height: 1.6;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 3px;
}


h3 {
    font-size: 30px;
}

h4 {
    font-size: 22px;
    font-weight: 400;
}

p {
    font-size: 15px;
}

.container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

button {
    outline: none;
}

.slick-slide:focus {
    outline: none;
}

/* header */

.header {
    width: 100%;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 80px;
    height: 80px;
}

.nav {
    display: inline-flex;
    font-size: 20px;
}

.nav__link {
    display: inline-block;
    margin-right: 50px;
    text-decoration: none;
    color: #212121;
}


.nav__link:last-child {
    margin-right: 0;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 10px;
    background-color: #00BFAC;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s linear;
}

.nav__link:hover:after {
    opacity: 1;
}

.hamburger {
    background: none;
    border: none;
    display: none;
    z-index: 3;
}


.bar {
    display: block;
    width: 45px;
    height: 6px;
    margin: 4px 0;
    transition: all 0.3s ease-in-out;
    background-color: #00BFAC;

}

.bar:nth-child(2) {
    width: 35px;
}


.search-field {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.search-field__form {
    position: absolute;
    opacity: 0;
}

.search-field:hover .search-field__form {
    opacity: 1;
    transition: .3s linear;
}

.search {
    display: block;
    width: 200px;
    border: 2px solid #00897b;
    overflow: hidden;
}



/* intro */

.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(../images/intro_bg.jpg) center center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    text-align: center; 
}

.intro__title {
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 3px;
    
}

.intro__subtitle {
    margin: 40px 0 80px;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 1.5px;
}

.intro__buttons {
    margin-bottom: 100px;
}

.intro__btn {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    height: 70px;
    margin: 0 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.5px;
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid #ffffff;
    transition: background .1s linear, color .1s linear;
}

.intro__btn:hover {
    background-color: #00897b;
    cursor: pointer;
    border: none;
}


.arrow {
    position: absolute;
    left: 50%;
    border: solid #ffffff;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(45deg) translateX(-50%); 
    bottom: 20%;
}

.arrow:hover {
    border-color: #00897b;
}

/* section */

.section__header {
    width: 100%;
    padding: 75px 0;
    text-align: center;
}

.section__title {
    font-weight: 700;
    color: #212121;
    margin-bottom: 35px;
}

.section__subtitle {
    font-weight: 400;
    color: #212121;
    
}

/* about */

.about__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__item {
    width: 30%;
    text-align: center;
}

.about__title {
    margin: 40px 0 25px;
    font-size: 20px;
    font-weight: 600;
    color: #212121;
}

.about__text {
    font-weight: 400;
    color: #212121;
    margin-bottom: 125px;
}

/* services */

.services {
    background-color: #d1fef7;
} 

.services__inner {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 120px;
}

.services__item {
    width: 30%;
    margin: 15px;
    padding: 55px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    text-align: center;
}


.services__title {
    margin: 35px 0 20px;
    font-size: 20px;
    font-weight: 600;
    color: #212121;
}

.services.text {
    font-weight: 400;
    color: #5c5c5c;
}

.services__btn {
    margin: 45px 0 0;
    padding: 18px 12px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    background-color: transparent;
    color: #212121;
    text-transform: uppercase;
    border: 2px solid #212121;
    cursor: pointer;
}


.services__item:hover {
    background-color: #00897b;
    transition: background .2s linear;
}


.services__item:hover .services__icon {
    filter: invert(1);
}

.services__item:hover .services__title {
    color: #ffffff;
}

.services__item:hover .services__text {
    color: #ffffff;
}

.services__item:hover .services__btn {
    color: #ffffff;
    border-color: #ffffff;
}

.services__item:hover .services__btn:hover {
    color: #00897b;
    background-color: #ffffff;
    transition: .1s linear;
}

/* works */

.works__nav {
    text-align: center;
}

.works__link {
    margin-right: 7px;
    padding: 15px;
    text-decoration: none;
    border: 2px solid #00897b;
    background-color: #ffffff;
    text-transform: uppercase;
    color: #212121;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.works__link:last-child {
    margin-right: 0;
}

.works__link:first-child {
    margin-right: 10px;
}

.works__link:hover {
    background-color: #00897b;
    color: #ffffff;
    transition: background .2s linear;
}

.works__inner {
    margin: 100px 0 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.works__item {
    width: 30%;
    margin: 15px;
}


.works__img {
    display: block;
    width: 100%;
}

.works__bg {
    position: absolute;
    background-color: #000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.works__photo {
    position: relative;
}

.works__text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    letter-spacing: 1.5px;
    opacity: 0;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.works__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.works__desc {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.works__photo:hover .works__bg {
    opacity: .7;
    transition: opacity .1s linear;
}

.works__photo:hover .works__text {
    opacity: 1;
    transition: opacity .1s linear;
}

.works__button {
    text-align: center;
}

.works__btn {
    margin-bottom: 75px;
    text-align: center;
    padding: 15px 40px;
    background-color: #00897b;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border: 1px solid #00897b;
    cursor: pointer;
}

.works__btn:hover {
    color: #00897b;
    background-color: #ffffff;
    transition: .1s linear;

}

/* plans */

.plans {
    background-color: #dfdfdf;
}

.plans__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}

.plans__item {
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.plans__title {
    padding: 0 95px;
    background-color: #3949ab;
    font-family: "Opens Sans", sans-serif;
    letter-spacing: 1.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plans__name {
    margin: 40px 0 30px;
    font-size: 25px;
    font-weight: 400;
    color: #ffffff;
}

.plans__price {
    margin-bottom: 65px;
    color: #ffffff;
    font-size: 10px;
}

.plans__suptitle {
    font-size: 50px;
}

.plans__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 0 95px;
    background-color: #ffffff;
}

.plans__textbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.plans__text {
    margin-top: 30px;
    border-bottom: 1px solid #bfbfbf;
}

.plans__subtitle {
    font-size: 15px;
    font-weight: 300;
    color: #212121;
}

.plans__btn {
    width: 160px;
    height: 60px;
    margin: 50px 0;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #212121;
    font-weight: 600;
    letter-spacing: 1.1px;
    background-color: #ffffff;
    border: 2px solid #212121;
}

.plans__item:hover {
    box-shadow: 0 0 28px 14px rgba(0,0,0,0.25),  0 0 10px 10px  rgba(0,0,0,0.22);
    transition: box-shadow .2s linear;

}

.plans__btn:hover {
    background-color: #00897b;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background .2s linear;
    text-transform: uppercase;
}

/* team */

.members {
    display: flex;
    justify-content: space-between;
}

.member {
    margin-left: 10px;
    text-align: center;
}

.member:first-child {
    margin-left: 0;
}

.member__photo {
   max-width: 100%;
}

.member__desc {
    margin: 20px 0 20px;
}

.member__name {
    font-size: 20px;
    font-weight: 600;
    color: #212121;
}

.member__pos {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 400;
    color: #3f3f3f;
}

.member__media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.member__icon {
    padding: 3px 9px;
    font-size: 22px;
    background-color: #f0f1f1;
    color: #00897b;
    border-radius: 10px;
}


.member__icon:hover {
    background-color: #3949ab;
    color: #ffffff;
    cursor: pointer;
    transition: background .1s linear;
}

.member__icon:focus {
    outline: none;
}



.team__dots {
    margin: 125px 0;
}

/* blog */

.blog {
    background-color: #d1fef7;
}


.blog__post-list {
    display: flex;
    flex-wrap: wrap;
}

.post {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.post:nth-child(2n) {
    flex-direction: row-reverse;
}

.post__part {
    width: 49%;
}

.post__desc {
    max-width: 85%;
}

.post__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post__title {
    margin-top: 60px;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #212121;
    letter-spacing: 1.3px;
}

.post__subtitle {
    display: flex;
    margin: 15px 0 20px;
    font-size: 17px;
    font-weight: 600;
    color: #212121;
}


.post__document {
    margin-left: 40px;
}

.post__text {
    font-weight: 400;
    color: #212121;
}

.icon-calendar {
    margin-right: 15px;
}

.icon-file-empty {
    margin-right: 15px;
}

.post__title:hover {
    color: #00897b;
    transition: color .1s linear;
    cursor: pointer;
}

.blog__button {
    text-align: center;
}

.blog__btn {
    width: 200px;
    height: 70px;
    margin: 75px 0;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #00897b;
    text-transform: uppercase;
}

.blog__btn:hover {
    background-color: #ffffff;
    color: #00897b;
    transition: background .2s linear;
    border: 1px solid #00897b;
}

/* contacts */

.contacts {
    background: url(../images/contacts-bg.jpg) center center no-repeat;
    background-size: cover;
}

.contacts__main {
    filter: invert(1);
}

.contacts__inner {
    display: flex;
    justify-content: space-around;
}

.contacts__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contacts__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #3949ab;
    border-radius: 50%;
    text-align: center;
}



.contacts__text {
    margin: 40px 0 80px;
    color: #ffffff;
}

.contacts__text a,
.contacts__text span {
    display: block;
}

.contacts__phone {
    color: #ffffff;
}

.contacts__mail {
    color: #ffffff;
}

/* form */

.contacts-form__fields {
    width: 100%;
}

.form__item {
    width: 48%;
}

.contacts-form__item {
    display: flex;
    justify-content: space-between;
    
}

.author__input {
    width: 100%;
    height: 85px;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    outline: none;
}

.message__input {
    margin: 30px 0;
    width: 100%;
    height: 320px;
    background-color: #ffffff;
    border-radius: 10px;
    outline: none;
}

.contacts__button {
    margin-bottom: 110px;
    padding: 25px 80px;
    background-color: #ffffff;
    color: #212121;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.contacts__button:hover {
    background-color: #3949ab;
    color: #ffffff;
    transition: background .1s linear;
}

.contacts-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

input, textarea {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}

input {
    padding: 10px 20px;
}

textarea {
    padding: 30px 20px;
}

/* footer */

.footer__inner {
    padding: 20px 0;
    color: #212121;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

/* media */


@media (max-width: 1280px) {
}

@media (max-width: 1280px) and (min-width: 1025px) {
    .plans__title {
        padding: 0 60px;
    }

    .plans__name {
        margin: 20px 0 15px;
    }

    .plans__price {
        margin-bottom:  60px;
    }

    .plans__desc {
        padding: 0 60px;
    }
}

@media (max-width: 1280px) and (min-width: 769px) {
    .container {
        padding: 0 var(--desktopSidePadding);
    }
}


@media (max-width: 1024px) {

    .search-field {
        display: none;
    }

    .nav__menu {
        position: fixed;
        padding: 30px 50px 20px 20px;
        right: -100%;
        margin-right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5px;
        background-color: #ffffff;
        text-align: center;
        transition: 0.3s;
        z-index: 3;
    }

    .nav__menu.active {
        right: 0;
    }


    .nav__link {
        font-weight: 600;
        color: #00BFAC;
        font-size: 20px;
        text-transform: uppercase;
        margin-right: 0;
        margin-bottom: 15px;
    }


    .nav__link:after {
        display: none;
    }


    .nav__link:last-child {
        margin-bottom: 0;
    }

    .hamburger {
        position: fixed;
        right: 0;
        transform: translate(-50%, -50%);
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

@media (max-width: 1024px) and (min-width: 481px) {
    .intro__btn {
        width: 200px;
    }

    .services__inner {
        justify-content: space-between;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .arrow {
        bottom: 15%;
    }


    .services__item {
        width: 45%;
        padding: 40px 30px 45px;

    }

    .services__title {
        margin: 20px 0 10px;
    }


    .services__btn {
        margin: 20px 0 0;
        padding: 15px 10px;
    }

    .works__inner {
        margin: 100px 0 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .works__item {
        width: 45%;
    }


    .plans__price {
        margin-bottom: 15px;
    }

    .plans__desc {
        padding: 0 15px;
    }

    .plans__title {
        padding: 0 60px;
    }

    .plans__name {
        margin: 10px 0 15px;
    }

    .plans__price {
        margin-bottom:  30px;
    }

    .plans__desc {
        padding: 0 60px;
    }

    .plans__text {
        margin-top: 20px;
    }

    .plans__btn {
        margin: 25px 0;
    }

    .message__input {
        height: 220px;
    }

}

@media (max-width: 768px) {

}


@media (max-width: 768px) and (min-width: 481px) {

    .section__header {
        padding: 50px 0;
    }

    .section__title {
        margin-bottom: 25px;
    }

    .container {
        padding: 0 var(--tabletSidePadding);
    }


    .intro {
        padding: 0 var(--tabletSidePadding);
    }

    .intro__subtitle {
        margin: 20px 0 50px;
    }

    .arrow {
        bottom: 12%;
    }

    .about__inner {
        flex-wrap: wrap;
    }

    .about__item {
        width: 100%;
    }

    .about__title {
        margin: 20px 0 15px;
    }

    .about__text {
        width: 70%;
        margin: 0 auto 60px;
    }

    .services__item {
        width: 100%;
        padding: 40px;

    }

    .services__title {
        margin: 15px 0 5px;
    }


    .services__btn {
        margin: 15px 0 0;
        padding: 10px;
    }

    .works__nav {
        display: flex;
        justify-content: center;
    }

    .works__inner {
        margin: 60px 0 20px;
        justify-content: space-between;
    }

    .works__link {
        padding: 10px;
        font-size: 17px;
    }

    .works__item {
        width: 45%;
        margin: 10px;
    }

    .plans__inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .plans__item {
        width: 100%;
        margin-bottom: 40px;
        border: 2px solid #3949ab;
    }

    .plans__item:last-child {
        margin-bottom: 0;
    }

    .plans__price {
        margin-bottom: 15px;
    }

    .plans__desc {
        padding: 0 15px;
    }

    .plans__title {
        padding: 0 60px;
    }

    .plans__name {
        margin: 10px 0 15px;
    }

    .plans__price {
        margin-bottom:  30px;
    }

    .plans__desc {
        padding: 0 60px;
    }

    .plans__text {
        margin-top: 20px;
    }

    .plans__subtitle {
        font-size: 18px;
    }

    .plans__btn {
        margin: 25px 0;
    }

    .members {
        display: flex;
        justify-content: center;
    }

    .member__desc {
        margin: 10px 0 10px;
    }

    .member__icon {
        font-size: 16px;
    }

    .post {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .post:last-child {
        margin-bottom: 0;
    }

    .post:nth-child(2n) {
        flex-direction: column;
    }

    .post__part {
        width: 100%;
    }

    .post__desc {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .post__title {
        margin-top: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        font-weight: 600;
        color: #212121;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    .post__subtitle {
        width: 100%;
        margin: 5px 0;
        display: flex;
        justify-content: space-around;
    }

    .post__document {
        margin-left: 0
    }

    .post__text {
        font-weight: 400;
        color: #212121;
    }

    .icon-calendar {
        margin-right: 0;
    }

    .icon-file-empty {
        margin-right: 0;
    }

    .post__text {
        text-align: center;
    }

    .message__input {
        height: 200px;
    }

}

@media (max-width: 480px) {

    h1 {
        font-size: 50px;
        letter-spacing: 2px;
        line-height: 1.2;
        font-weight: 600;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }

    .container {
        padding: 0 var(--mobileSidePadding);
    }

    .section__header {
        padding: 35px 0;
    }

    .section__title {
        margin-bottom: 25px;
    }


    .intro {
        padding: 0 var(--mobileSidePadding);
    }


    .intro__subtitle {
        margin: 20px 0;
    }

    .intro__btn {
        width: 150px;
        margin-bottom: 10px;
    }

    .intro__btn:last-child {
        margin-bottom: 0;
    }

    .arrow {
        bottom: 15%;
    }

    .about__inner {
        flex-wrap: wrap;
    }

    .about__item {
        width: 100%;
    }

    .about__title {
        margin: 20px 0 15px;
    }

    .about__text {
        width: 70%;
        margin: 0 auto 60px;
    }

    .services__item {
        width: 100%;
        padding: 20px;

    }

    .services__title {
        margin: 15px 0 5px;
    }


    .services__btn {
        margin: 15px 0 0;
        padding: 10px;
    }

    .works__nav {
        display: flex;
        justify-content: center;
    }

    .works__inner {
        margin: 60px 0 20px;
        justify-content: space-between;
    }

    .works__link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        font-size: 14px;
    }

    .works__item {
        width: 100%;
        margin: 10px;
    }

    .works__btn {
        padding: 10px 20px;
    }

    .plans__inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .plans__item {
        width: 100%;
        margin-bottom: 40px;
        border: 2px solid #3949ab;
    }

    .plans__item:last-child {
        margin-bottom: 0;
    }

    .plans__price {
        margin-bottom: 15px;
    }

    .plans__desc {
        padding: 0 15px;
    }

    .plans__title {
        padding: 0 60px;
    }

    .plans__name {
        margin: 10px 0 15px;
    }

    .plans__price {
        margin-bottom:  30px;
    }

    .plans__desc {
        padding: 0 60px;
    }

    .plans__text {
        margin-top: 20px;
    }

    .plans__subtitle {
        font-size: 18px;
    }

    .plans__btn {
        margin: 25px 0;
    }

    .members {
        display: flex;
        justify-content: center;
    }

    .member {
        margin-left: 0;
    }

    .members  .member .member__photo {
        display: inline-block;
    }


    .member__desc {
        margin: 10px 0 10px;
    }

    .member__icon {
        font-size: 16px;
    }

    .post {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .post:last-child {
        margin-bottom: 0;
    }

    .post:nth-child(2n) {
        flex-direction: column;
    }

    .post__part {
        width: 100%;
    }

    .post__desc {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .post__title {
        margin-top: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        font-weight: 600;
        color: #212121;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    .post__subtitle {
        width: 100%;
        margin: 5px 0;
        display: flex;
        justify-content: space-around;
    }

    .post__document {
        margin-left: 0
    }

    .post__text {
        font-weight: 400;
        color: #212121;
    }

    .icon-calendar {
        margin-right: 0;
    }

    .icon-file-empty {
        margin-right: 0;
    }

    .post__text {
        text-align: center;
    }

    .blog__btn {
        width: 170px;
        height: 50px;
        margin: 30px 0;
    }

    .contacts__inner {
        justify-content: center;
        flex-wrap: wrap;
    }

    .contacts__item {
        width: 50%;
    }

    .contacts__text {
        width: 100%;
        margin: 20px 0;
    }

    .author__input {
        height: 55px;
    }

    input, textarea {
        font-size: 14px;
    }

    .message__input {
        height: 100px;
    }

    .contacts__button {
        padding: 10px 50px;
    }

}
